<div id="sebKioskTopBar">
    <!-- BEGIN seb_kiosk_logo -->
    <div id="sebKioskLogo">	
        <a href="{LOGO_LINK}">
            <img src="{IMG_SRC}" alt="{IMG_ALT}">
        </a>
    </div>
    <!-- END seb_kiosk_logo -->
    <!-- BEGIN kiosk_show_title -->
    <div id="sebKioskTestTitle">
        {TEST_TITLE}
    </div>
    <!-- END kiosk_show_title -->
    <!-- BEGIN kiosk_show_exam_id -->
    <div id="sebKioskExamID">
        {EXAM_ID_TXT} {EXAM_ID}
    </div>
    <!-- END kiosk_show_exam_id -->
    <!-- BEGIN kiosk_show_participant -->
    <div id="sebKioskParticipant">
        {PARTICIPANT_NAME} {PARTICIPANT_LOGIN} 
    </div>
    <!-- END kiosk_show_participant -->
    <!-- BEGIN seb_usr_img -->
    <div id="sebUsrImg">
        <img src="{SEB_USR_IMG_URL}" alt="{SEB_USR_IMG_ALT}" />
    </div>
    <!-- END seb_usr_img -->
    <!-- BEGIN seb_kiosk_logout -->
    <div id="sebKioskLogout">
        <a href="{SEB_LOGOUT_LINK}" id="sebLogoutLink">{SEB_LOGOUT_TEXT}</a>
    </div>
    <!-- END seb_kiosk_logout -->
</div>
